.btn {
    display: flex;
    justify-content: center;
}
.submit {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
    font-weight: bold;
    border-radius: 5px;
    width: 4.5rem;
    height: 1.75rem;
    cursor: pointer;
}

.img {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 345px; 

}

#ex_txt{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 21.5rem;
    height: 21.5rem;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.8125rem;
    padding-left: 10px;
    white-space: normal;
}

.setRegion {
    width: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.region{
    width: 21.5rem;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.region{
    width:3.75rem;
    border: none;
    border-bottom: 2px solid #000000;
    font-weight: bold;
}


.region_area {
    margin-left: 10px;
    display: flex;
}
.region_area img {
    width: 10px;
    height: 11px;
    margin: auto;
}

.Type {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 10px;
}

.tag_area{
    display: flex;
    width: 21.5rem;
    margin: auto;
}

.tag {
    margin: auto;
    width: 11rem;
    height: 1.875rem;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 4px;
    padding-left: 10px;
}

.region_total {
    display: flex;
    margin: auto;
    width: 21.5rem;
    margin-bottom: 20px;
}

.btn-area{
    width: 21.5rem;
    text-align: end;
    margin-top: 15px;
    margin-bottom: 35pxl
}
.tag_input {
    display: flex;
    flex-direction: column;

}

.image img {
    width: 110px;
}

.img {
    display: flex;
}
.image_area {
    display: flex;
}

.img p {
    color: #c4c4c3;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

#img {
    margin-top: 5px;
    margin-bottom: 7px;

}